<div class="container mx-auto">
<header class="flex justify-between py-2 my-8">
  <a href="/" class="">
    <img src="/images/avatar.svg" alt="Back to homepage" class="w-10" loading="lazy" decoding="async">
  </a>
  <nav>
    {%
      set linkList = [
        { "url": "/writing" , "text": "Writing"},
        { "url": "https://twitter.com/rowlando" , "text": "Twitter"},
        { "url": "https://microblog.rowlando.dev/" , "text": "Microblog"}
      ]
    %}
    {% include "navigation-links.njk" %}
  </nav>
</header>
</div>


